#flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid rgb(22, 23, 23);
    background-color: white;
    margin: 0 auto;
    margin-top: 7vh;
    width: 80vh;
    height: 80vh;
}

.grid-container {
    display: grid;
    height: 75vh;
    width: 75vh;
    grid-template-columns: repeat(4, 0.25fr);
    border: 3px greenyellow;
    padding: 30px;

}

.grid-item {
    background-color:whitesmoke;
    border: solid 2px black;
   
}

.hover {
    background-color: aquamarine;
    border: solid 3px black;
    opacity: 0.85;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


#images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
}

h1{
    width: 200px;
    height: 100px;
}

h4 {
    width: 200px;
    height: 70px;
}

#numberOfSquares{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 20px;
}

#numbersOfSquaresInput{
    height: auto;
}
    
#rainbowBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-left: 90px;
}

#explaination {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}


#rainbowBtn + #explaination {
    opacity: 0;
    transition: ease;
}

#rainbowBtn:hover + #explaination{
    opacity:1;
}

#colorImage {
    display: flex;
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

#c {
    display: none;
}


#rainbowBtn {
    display: flex;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

#rainbowBtn:active, #colorImage:active {
    border: 1px dotted rgb(72, 166, 237);
    opacity: 0.78;
}