#flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid rgb(22, 23, 23);
    background-color: white;
    height: 80vh;
    width: 80vh;
    margin: 0 auto;
    margin-top: 10vh;
}


.grid-container {
    display: grid;
    height: 75vh;
    width: 75vh;
    grid-template-columns: repeat(4, 0.25fr);
    border: 3px greenyellow;
    padding: 30px;

}

.grid-item {
    background-color:whitesmoke;
    border: solid 2px black;
   
}

.hover {
    background-color: aquamarine;
    border: solid 3px black;
    opacity: 0.85;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{

    max-width: 300px;
    max-height: 100px;

}

#numberOfSquares{
    margin-left: 20px;
    width: 180px;
    height: 20px;
   
}

span{
    display: inline-block;
    background-image: url(assets/images/paint_palette.png);
    background-size: contain;
    background-repeat: none;
    height: 12vh;
    width: 12vh;
    margin-left: 40vh;
}

